
<script async src="https://cdn.snipcart.com/themes/v3.3.3/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="API-KEY" data-currency="INR" data-config-modal-style="side"> 
  </div>

</body>

<footer>
  &copy; 2022
  <span>All Rights Reserved</span>
</footer>

</html>

