
<script async src="https://cdn.snipcart.com/themes/v3.3.3/default/snipcart.js"></script>
        <div hidden id="snipcart" data-api-key="YMWUzNTdjZDQtZDFmNy00ODY5LWFjODItY2FhNjllZTE5YzMyNjM3ODI0MzkyNDExNzEwOTIx"></div>
</body>
<footer style="background-color: black; color: rgb(255, 255, 255); margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="text-center py-3 col">By using this site you agree that we can place cookies on your device. See Privacy Statement for details.
                © 2022 FirstCare. All Rights Reserved.</div>
        </div>
    </div>
</footer>

</html>
