<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>FirstCare</title>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="From SnipCart"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="From SnipCart" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="From SnipCart" crossorigin="anonymous">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- SnipCart -->
    <link rel="preconnect" href="https://app.snipcart.com" />
    <link rel="preconnect" href="https://cdn.snipcart.com" />
    <link
      rel="stylesheet"
      href="https://cdn.snipcart.com/themes/v3.3.3/default/snipcart.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <header>
      <div class="nav">
        <div> <a class="brand-container" href="/">firstcare.com</a> </div>
        <botton class="cart snipcart-checkout">
          <i class="fa-solid fa-cart-shopping cart-icon"></i>
            <span class="cart-total snipcart-total-price "></span>
        </button>
      </div>
    </header>

