<%- include('partials/header') %>
<div class="container mt-5">
  <h1 style="padding-top: 50px;">Welcome!!</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          
          <form action="/admin" method="POST">
            <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
              <label>Sub-title</label>
              <input type="text" class="form-control" name="subtitle">
            </div>
            <div class="form-group">
              <label>Image</label>
              <input type="text" class="form-control" name="image">
            </div>
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" name="Description">
            </div>
            <button type="submit" class="btn btn-dark">submit</button>
            
          </form>
          
        </div>
      </div>
      <a href="/queries" class="btn mr-2"><i class="fas fa-link"></i> Queries</a>
    </div>
    
    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>