<%- include('partials/header') %>

<section class="mb-4 contact">
    <h1 class=" font-weight-bold text-center my-4 contact">Contact us</h1>
    <h6 class="text-center mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</h6>
    <div class="row">
        <div class="col-md-9 mb-5">
            <form action="/Contact-Us" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <input type="text" name="email" class="form-control" placeholder="Your Email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <textarea type="text" name="message" rows="3" class="form-control md-textarea" placeholder="Your Message"></textarea>
                        <br>
                        <br>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Send" class="btn btn-primary">
            </form>
        </div>

        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Delhi, INDIA</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p> 011-27021219</p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@firstcare.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<%- include('partials/footer') %>